*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 500px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#clear {
  grid-column: span 2;
}

#equals {
  grid-row: span 2;
  display: grid;
  align-items: center;
}

#zero {
  grid-column: span 2;
}

.btn {
  font-size: 2.5em;
  border-radius: 0;
}

#display {
  font-size: 2.5em;
  text-align: right;
  margin-right: 0.4em;
}
